In [1]:
import pandas as pd
import delicardservice as ds
import matplotlib.pyplot as plt

import seaborn as sns

sns.set_theme()

cardNr = "123456"
password = "abcd"
ds.scrapeDelicardApi(cardNr,password)
ds.mergeDataDumps(cardNr)
data: pd.DataFrame = ds.getDataframe(cardNr)

In [2]:
# overview of the data
data

                                datum    ortName        kaName  typName  \
transFullId posId
10-3419-37  1     2022-12-08 11:36:00  Cafeteria  Cafeteria 10  Verkauf
            2     2022-12-08 11:36:00  Cafeteria  Cafeteria 10  Verkauf
            3     2022-12-08 11:36:00  Cafeteria  Cafeteria 10  Verkauf
7-4003-599  1     2022-12-08 12:58:00      Mensa  Mensakasse 7  Verkauf
            2     2022-12-08 12:58:00      Mensa  Mensakasse 7  Verkauf
...                               ...        ...           ...      ...
4-991-623   2     2023-03-21 13:26:00      Mensa  Mensakasse 4  Verkauf
            3     2023-03-21 13:26:00      Mensa  Mensakasse 4  Verkauf
4-992-711   1     2023-03-22 13:27:00      Mensa  Mensakasse 4  Verkauf
5-2729-480  1     2023-03-28 12:53:00      Mensa  Mensakasse 5  Verkauf
            2     2023-03-28 12:53:00      Mensa  Mensakasse 5  Verkauf

                   zahlBetrag                  name  menge  epreis  gpreis  \
transFullId posId
10-3419-37  1            -3.5    Kaffee, Pfandtasse      1     1.2     1.2
            2            -3.5      Tassenpfand plus      1     1.0     1.0
            3            -3.5   Brötchen mit Salami      1     1.3     1.3
7-4003-599  1            -4.4     Stamm HK Essen 10      2     2.2     4.4
            2            -4.4  Tafelwasser 0,3l Gl.      1     0.3     0.0
...                       ...                   ...    ...     ...     ...
4-991-623   2            -4.6         Stamm Dessert      1     0.8     0.8
            3            -4.6  Tafelwasser 0,3l Gl.      1     0.3     0.0
4-992-711   1            -2.8     Stamm HK Essen 13      1     2.8     2.8
5-2729-480  1            -2.8     Stamm HK Essen 14      1     2.8     2.8
            2            -2.8  Tafelwasser 0,3l Gl.      1     0.3     0.0

                   rabatt
transFullId posId
10-3419-37  1         NaN
            2         NaN
            3         NaN
7-4003-599  1         NaN
            2         0.3
...                   ...
4-991-623   2         NaN
            3         0.3
4-992-711   1         NaN
5-2729-480  1         NaN
            2         0.3

[269 rows x 10 columns]

In [3]:
coffee_tea = data[data["name"].str.contains("Kaffee|Tee")]
spendings = "{:,.2f}€".format(coffee_tea["gpreis"].sum())

f"Insgesamt wurden {spendings} für Kaffee & Tee ausgegeben!"

'Insgesamt wurden 27.60€ für Kaffee & Tee ausgegeben!'